Repository ag-research/twistersfury-docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: PHP-CS-Fixer (Build), PHP-CS-Fixer (Test), PHP-CS-Fixer (Release), PHP-CS-Fixer (Deploy), build:nginx, test:nginx, release:nginx, deploy:nginx, build:php:fpm-7.1-debug, test:php:fpm-7.1-debug, release:php:fpm-7.1-debug, deploy:php:fpm-7.1-debug, build:phalcon:latest, test:phalcon:latest, release:phalcon:latest, deploy:phalcon:latest, build:phalcon:phpstan, test:phalcon:phpstan, release:phalcon:phpstan, deploy:phalcon:phpstan, build:docker:latest, test:docker:latest, release:docker:latest, deploy:docker:latest, build:cron:latest, release:cron:latest, deploy:cron:latest, build:phalcon:dev-tools, test:phalcon:dev-tools, release:phalcon:dev-tools, deploy:phalcon:dev-tools, build:zephir:phalcon, test:zephir:phalcon, release:zephir:phalcon, deploy:zephir:phalcon

PHP-CS-Fixer (Build):
  tags:
  - docker
  stage: build
  script:
  - docker build --pull -t $CI_REGISTRY_IMAGE/php-cs-fixer:$CI_BUILD_REF_NAME ./php-cs-fixer
  - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/php-cs-fixer:$CI_BUILD_REF_NAME

PHP-CS-Fixer (Test):
  tags:
  - docker
  stage: test
  image: $CI_REGISTRY_IMAGE/php-cs-fixer:$CI_BUILD_REF_NAME
  script:
  - php-cs-fixer --help

PHP-CS-Fixer (Release):
  tags:
  - docker
  stage: release
  script:
  - docker pull $CI_REGISTRY_IMAGE/php-cs-fixer:$CI_BUILD_REF_NAME
  - docker tag $CI_REGISTRY_IMAGE/php-cs-fixer:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/php-cs-fixer:latest
  - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  ...

PHP-CS-Fixer (Deploy):
  tags:
  - docker
  stage: deploy
  script:
  - docker pull $CI_REGISTRY_IMAGE/php-cs-fixer:latest
  - docker tag $CI_REGISTRY_IMAGE/php-cs-fixer:latest twistersfury/php-cs-fixer:latest
  - echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
  - docker push twistersfury/php-cs-fixer:latest

build:nginx:
  tags:
  - docker
  stage: build
  script:
  - docker build -t $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME ./nginx
  - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME

test:nginx:
  tags:
  - docker
  stage: test
  variables:
    ENV_DOMAIN_NAME: nginx.test
    ENV_UPSTREAM_HOST: 127.0.0.1:8000
    ENV_LETS_ENCRYPT: 1
  before_script:
  - docker run --rm -p 80:80/tcp -name nginx -d -e ENV_DOMAIN_NAME -e ENV_UPSTREAM_HOST -e ENV_LETS_ENCRYPT $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME
  script:
  ...

release:nginx:
  tags:
  - docker
  stage: release
  script:
  - docker pull $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME
  - docker tag $CI_REGISTRY_IMAGE/nginx:$CI_BUILD_REF_NAME $CI_REGISTRY_IMAGE/nginx:latest
  - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  ...

deploy:nginx:
  tags:
  - docker
  stage: deploy
  script:
  - docker pull $CI_REGISTRY_IMAGE/nginx:latest
  - docker tag $CI_REGISTRY_IMAGE/nginx:latest twistersfury/nginx:latest
  - echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USER --password-stdin
  - docker push twistersfury/nginx:latest

build:php:fpm-7.1-debug:
  tags:
  - docker
  stage: build
  script:
  - docker build -t $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME ./php/7.1/fpm-debug
  - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME

test:php:fpm-7.1-debug:
  tags:
  - docker
  image: $CI_REGISTRY_IMAGE/php:$CI_BUILD_REF_NAME
  stage: test
  script:
  - php -i | grep "enable-debug"

test:phalcon:latest:
  tags:
  - docker
  image: $CI_REGISTRY_IMAGE/phalcon:$CI_BUILD_REF_NAME
  stage: test
  script:
  - php -m | grep phalcon

Update entrypoint.sh
  nginx/entrypoint.sh
Due: build:nginx, test:nginx, release:nginx, deploy:nginx

Update Dockerfile
  nginx/Dockerfile
Due: build:nginx, test:nginx, release:nginx, deploy:nginx

Update letsencrypt-https.conf
  nginx/letsencrypt-https.conf
Due: build:nginx, test:nginx, release:nginx, deploy:nginx

Installing PCOV
  zephir/phalcon/Dockerfile
Due: build:zephir:phalcon, test:zephir:phalcon, release:zephir:phalcon, deploy:zephir:phalcon

Adding lcov For Code Coverage
  zephir/phalcon/Dockerfile
Due: build:zephir:phalcon, test:zephir:phalcon, release:zephir:phalcon, deploy:zephir:phalcon

Updating Base For CS Fixer
  php-cs-fixer/Dockerfile
Due: PHP-CS-Fixer (Build), PHP-CS-Fixer (Test), PHP-CS-Fixer (Release), PHP-CS-Fixer (Deploy)

Removing Call To Install Script (Not Necessary)
  phalcon-devtools/Dockerfile
Due: build:phalcon:dev-tools, test:phalcon:dev-tools, release:phalcon:dev-tools, deploy:phalcon:dev-tools

Removing Call To Install Script (Not Necessary) - Debugging
  phalcon-devtools/Dockerfile
Due: build:phalcon:dev-tools, test:phalcon:dev-tools, release:phalcon:dev-tools, deploy:phalcon:dev-tools

Adding Ability To Specify Phalcon Branch
  phalcon/latest/Dockerfile
Due: build:phalcon:latest, test:phalcon:latest, release:phalcon:latest, deploy:phalcon:latest

Phalcon Branch
  .gitlab-ci.yml
  codeception/Dockerfile
Due: none

DevTools
  phalcon-devtools/Dockerfile
Due: build:phalcon:dev-tools, test:phalcon:dev-tools, release:phalcon:dev-tools, deploy:phalcon:dev-tools

Adding Cache Buster
  .gitlab-ci.yml
Due: none

Adding Phalcon Branch Arg To Zephir
  .gitlab-ci.yml
  zephir/phalcon/Dockerfile
Due: build:zephir:phalcon, test:zephir:phalcon, release:zephir:phalcon, deploy:zephir:phalcon

Disabling PHP 7.1 Debug Mode
  .gitlab-ci.yml
Due: none

Update Dockerfile
  phalcon-devtools/Dockerfile
Due: build:phalcon:dev-tools, test:phalcon:dev-tools, release:phalcon:dev-tools, deploy:phalcon:dev-tools

Debugging Pipelines
  phalcon-devtools/Dockerfile
Due: build:phalcon:dev-tools, test:phalcon:dev-tools, release:phalcon:dev-tools, deploy:phalcon:dev-tools

Debugging Pipelines
  docker/Dockerfile
Due: build:docker:latest, test:docker:latest, release:docker:latest, deploy:docker:latest

Adding Composer Image
  .gitlab-ci.yml
  composer/Dockerfile
Due: none

Adding Zip\Unzip
  composer/Dockerfile
Due: none

Adding MySQL
  zephir/phalcon/Dockerfile
Due: build:zephir:phalcon, test:zephir:phalcon, release:zephir:phalcon, deploy:zephir:phalcon

Path conditions:
  PHP-CS-Fixer (Build): any of: php-cs-fixer/**
  PHP-CS-Fixer (Test): any of: php-cs-fixer/**
  PHP-CS-Fixer (Release): any of: php-cs-fixer/**
  PHP-CS-Fixer (Deploy): any of: php-cs-fixer/**
  build:nginx: any of: nginx/**
  test:nginx: any of: nginx/**
  release:nginx: any of: nginx/**
  deploy:nginx: any of: nginx/**
  build:php:fpm-7.1-debug: any of: php/7.1/fpm-debug/**
  test:php:fpm-7.1-debug: any of: php/7.1/fpm-debug/**
  release:php:fpm-7.1-debug: any of: php/7.1/fpm-debug/**
  deploy:php:fpm-7.1-debug: any of: php/7.1/fpm-debug/**
  build:phalcon:latest: any of: phalcon/latest/**
  test:phalcon:latest: any of: phalcon/latest/**
  release:phalcon:latest: any of: phalcon/latest/**
  deploy:phalcon:latest: any of: phalcon/latest/**
  build:phalcon:phpstan: any of: phalcon/tools/PHPStan/**
  test:phalcon:phpstan: any of: phalcon/tools/PHPStan/**
  release:phalcon:phpstan: any of: phalcon/tools/PHPStan/**
  deploy:phalcon:phpstan: any of: phalcon/tools/PHPStan/**
  build:docker:latest: any of: docker/**
  test:docker:latest: any of: docker/**
  release:docker:latest: any of: docker/**
  deploy:docker:latest: any of: docker/**
  build:cron:latest: any of: cron/**
  release:cron:latest: any of: cron/**
  deploy:cron:latest: any of: cron/**
  build:phalcon:dev-tools: any of: phalcon-devtools/**
  test:phalcon:dev-tools: any of: phalcon-devtools/**
  release:phalcon:dev-tools: any of: phalcon-devtools/**
  deploy:phalcon:dev-tools: any of: phalcon-devtools/**
  build:zephir:phalcon: any of: zephir/phalcon/**
  test:zephir:phalcon: any of: zephir/phalcon/**
  release:zephir:phalcon: any of: zephir/phalcon/**
  deploy:zephir:phalcon: any of: zephir/phalcon/**
